.category-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.category-list button {
  min-width: 15rem;
  min-height: 6rem;
}

.category-list button.selected {
  border: 5px solid orange; /* TODO: make button outline something that looks better */
}

/* .scroll-btn-left {
  position: absolute;
  left: 0;
}

.scroll-btn-right {
  position: absolute;
  right: 0;
} */
