.category-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 3rem;
}

.category-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.category-list button {
  min-width: 15rem;
  min-height: 6rem;
}

.category-list button.selected {
  background-color: grey;
}
