.carousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}

.videos-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 1rem;
  margin: 0 3rem;
}

.videos-container button {
  min-width: 7.5rem;
  min-height: 3rem;
}
