.carousel-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.videos-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-top: 2rem;
}

.carousel-container button {
  min-width: 7.5rem;
  min-height: 3rem;
}
